@font-face {
    font-family: 'TmoneyRoundB';
    font-weight: 700;
    font-style: normal;
    src: url('../css/fonts/TmoneyRoundWindExtraBold.eot');
    src: url('../css/fonts/TmoneyRoundWindExtraBold.ttf') format('truetype'), 
         url('../css/fonts/TmoneyRoundWindExtraBold.otf'),
         url('../css/fonts/TmoneyRoundWindExtraBold.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/TmoneyRoundWindExtraBold.woff') format('woff'),
         url('../css/fonts/TmoneyRoundWindExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: 'TmoneyRoundR';
    font-weight: 500;
    font-style: normal;
    src: url('../css/fonts/TmoneyRoundWindRegular.eot');
    src: url('../css/fonts/TmoneyRoundWindRegular.ttf') format('truetype'),
         url('../css/fonts/TmoneyRoundWindRegular.otf'),
         url('../css/fonts/TmoneyRoundWindRegular.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/TmoneyRoundWindRegular.woff') format('woff'),
         url('../css/fonts/TmoneyRoundWindRegular.woff2') format('woff2');

}

*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: 'TmoneyRoundR';
    font-weight: 500;
}

a{
    text-decoration: none !important;
}

li{
    list-style: none;
}

p, h1, h2, h3{
    margin-bottom: 0;
    color: #2e2e2e;
}

.pd--0{
    padding: 0;
}
.mgb--24{
    margin-bottom: 1.5em;
}
.mg-b2{
    margin-bottom: 2em;
}
.pd-b2{
    padding-bottom: 2em !important;
}
.pd-b3{
    padding-bottom: 3em;
}
.pd-b5{
    padding-bottom: 5em;
}

.mg-l2p{
    margin-left: .75em;
}
header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.nav{
    display: flex;
}
.nav.nav-margin{
    margin-right: 3.5%;
}
.logo{
    padding: 0 20px;
}

.login-content{
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.login-text{
    color:#F6F6F6;
}
.name{
    color:#000;
    font-weight: 800;
}
.logo-bg{
    background: #F6F6F6;
}
.icon{
    background: url(../img/icon/login_grey.png)#F6F6F6;
    background-repeat: no-repeat;
    background-size: 1.5em;
    background-position: center center;
    width: 39px;
    height: 39px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.login-text{
    display: flex;
    height: 50px;
    align-items: center;
}

/* header  nav */

.layout{
    display: flex;
}

.slde-nav{
    width: 10%;
    height: auto;
    padding: 0 .85em;
    /* height auto 로 무조건 변경 */
}
.content{
    width: 90%;
    height: auto;
    border-radius: 50px 0px 0px 0px;
    background: #F6F6F6;
    /* 눈아파서 어둡게변경 추후에 f6f6f6로 변경 */
    padding-top: 5em;
}
.text-center{
    text-align: center;
}

/* 왼쪽 네비 영역 */
.slde-nav{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.slde-nav li{
    padding: .85em;
    border-radius: 10px;
}
.slde-nav li.active{
    background: #2E2E2E;
}
.slde-nav li.active a{
    color: #fff;
}
.slde-nav > ul > li > a{
    display: flex;
    align-items: center;
    color: #878787;
}

.slde-nav span{
    font-size: .9375em;
}

.icon-box{
    width: 25px;
    height: 25px;
    margin-right: 1em;
}

.logout a{
    display: flex;
    align-items: center;
    color: #878787;
}
.logout span{
    font-size: .95em;
}

.icon-box.home{
    background: url(../img/icon/home.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.icon-box.info{
    background: url(../img/icon/login_grey.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.icon-box.pr{
    background: url(../img/icon/product_grey.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.icon-box.ad{
    background: url(../img/icon/ad_grey.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.icon-box.lg-out{
    background: url(../img/icon/logout.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.icon-box.menu{
    background: url(../img/icon/menu_grey.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.flex-side{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-box{
    display: flex;
    align-items: center;
}

/* 우측 섹션 */
.bd-grey{
    max-width: 49%;
    min-height: 424px;
    border: 1px solid #EBEBEB;
    padding: 1.5em;
    border-radius: 10px;
    background: #FFFFFF;
}


#prChart{
    height: 243px !important;
}
#adChart{
    height: 245px !important;
}

/* 공모양 생성 */
.circle{
    width: 11px;
    height: 11px;
    background: #ff8200;
    border-radius: 50px;
}
.circle.blue{
    background: #4C9EFF;
}

/* 상품페이지 영역 */
.cash-title{
    font-weight: 700;
    font-size: 1.4375em;
    margin-right: .73915em;
    font-family: 'TmoneyRoundB';
}
.circle-sub p{
    color: #878787;
    font-size: .75em;
    margin-left: 5px;
}
.cash-sub p {
    margin-top: 10px;
    margin-bottom: 3em;
    color: #878787;
    font-size: .9375em;
}
.cash-select select{
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    color: #878787;
    font-size: .95em;
    padding: .3em .5em;
}

/* 상품 리스트 영역 */
ul{
    margin: 0;
}

.pr-table > table{
    width: 100%;
}
.pr-table tr{
    height: 2.5em;
}
.pr-table th{
    border-bottom: 1px solid #ebebeb;
    color: #878787;
    font-size: .75em;
}
.pr-table td{
    color: #2E2E2E;
    font-size: .75em;
    font-weight: 600;
}

.pr-table .text-center{
    text-align: center;
}
.pr-table .pr-view{
    text-align: center;
}
.pr-table .pr-view a{
    border: 1px solid #EBEBEB;
    color: #878787;
    border-radius: 5px;
    font-size: 0.6875em;
    padding: .5em;
}
.pr-table .pr-day{
    text-align: center;
}

/* 광고리스트 영역 */
.cash-more a{
    padding: .5em 1em;
    background: #EBEBEB;
    border-radius: 5px;
    font-size: .95em;
    color: #878787;
}

.ad-list-title p{
    font-size: .75em;
    color: #878787;
}
.ad-list p{
    font-size: .75em;
    color: #2e2e2e;
}

.ad-table table{
    width: 100%;
}
.ad-table tr{
    height: 2.5em;
}
.ad-table th{
    border-bottom: 1px solid #ebebeb;
    color: #878787;
    font-size: .75em;
}
.ad-table td{
    color: #2E2E2E;
    font-size: .75em;
    font-weight: 600;
}
.ad-table .text-center{
    text-align: center;
}
.ad-table .circle{
    margin: 0 auto;
}
#userChart{
    height: 265px !important;
}
#adminChart{
    height: 264px !important;
}

/* 광고 리스트 페이지 */


.ad-app-table{
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    padding: 1.8em 3em;
    background: #ffffff;
}

.ad-app-table table{
    width: 100%;
    font-weight: 600;
}

.ad-app-table table thead{
    border-bottom: 1px solid #ebebeb;
}

.ad-app-table table thead th{
    color: #878787;
    font-size: .9375em;
}

.ad-app-table table tr{
    height: 3em;
}

.ad-app-table table tbody{
    font-size: .9375em;
}

.ad-app-table table thead th:first-child,
.ad-app-table table tbody td:first-child{
    color: #878787;
    text-align: center;
    font-size: .9375em;
}

.ad-app a{
    display: block;
    padding: .75em 1em;
    background: #ff8200;
    border-radius: 5px;
    color: #fff !important;
}
.app-stat{
    border-radius: 5px;
    width: 65%;
    margin: 0 auto;
    height: 30px;
    background: rgba(255, 130, 0, .1);
    font-size: .8125em;
    text-align: center;
    color: #ff8200;
    line-height: 30px;
}
.app-stat.suc{
    background: rgba(76, 158, 255, .1);
    color: #4C9EFF;
}

/* modal css */
#ad-modal{
    top: 30%;
}
/* ad modal content */
#ad-modal .modal-content{
    padding: 1.5em 2.5em 2.5em;
    position: relative;
}
#ad-modal .modal-header{
    border-color: #2E2E2E;
}
#ad-modal .modal-header h3{
    font-size: 1.5em;
}
#ad-modal .modal-header .close{
    position: absolute;
    right: -15px;
    top: -15px;
}
#ad-modal .ad-del button{
    border: none;
    border-radius: 5px;
    background: #EBEBEB;
    padding: 0.625em;
}
#ad-modal .ad-del button img{
    margin-right: .625em;
}
#ad-modal .ad-del button span{
    font-size: .9375em;
}

.ad-text{
    font-size:14px;
}
.point-main-text{
    font-size: 15px;
    color:#878787;
}
.point-main-sub-text{
    font-size: 15px;
    color:#2E2E2E;
}

.ad-line{
    width: 100%;
    height: 2px;
    background: #EBEBEB;
}
.ad-point-box{
    display: flex;
}

.ad-point-box>div{
    width: 48%;
    margin:0 auto;
}

.btn-orange{
    background:#ff8200;
    color:#fff;
}

.line-del{
    border: none !important;
}

.modal-footer{
    justify-content: center;
}


@media(min-width:1550px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1350px;
    }
}

@media(max-width:1495px){
    .slde-nav span{
        display: none;
    }
    .icon-box{
        margin-right: 0;
    }
}

@media(min-width:1240px){
    #ad-modal .modal-dialog{
        max-width: 33%;
    }
}
@media(max-width:1240px){
    .ad-app-table table thead th,
    .ad-app-table table tbody{
        font-size: .875em;
    }
}

@media(max-width:1130px){
    .content .row{
        flex-direction: column;
    }
    .mobile-m2{
        margin-bottom: 2em;
    }
    .mobile-pd2{
        padding-top: 2em;
    }
    .content .col-md-6{
        width: 95%;
        max-width: 95%;
    }
    .dnone-1130{
        display: none;
    }
}
@media(max-width: 992px){
    .dnone-992{
        display: none;
    }
    .login-content{
        display: none;
    }
}

@media(max-width: 840px){
    .ad-app-table table tbody,
    .ad-app-table table thead th{
        font-size: .75em;
    }
    .app-stat{
        height: 24px;
        line-height: 24px;
    }
    .content .row{
        margin: 0;
    }
}

@media(max-width: 768px){
    .layout{
        flex-wrap: wrap;
    }
    .slde-nav{
        width: 100%;   
    }
    .slde-nav{
        flex-direction: row;
        align-items: center;
    }
    .slde-nav > ul{
        display: flex;
    }
    .slde-nav span{
        display: none;
    }
    .content{
        width: 100%;
        border-radius: 0px;
    }
    .col-md-6{
        width: 100%;
        max-width: 100%;
    }

}

@media(max-width: 600px){
    .ad-app-table table tbody,
    .ad-app-table table thead th{
        font-size: .675em;
    }
    .app-stat{
        width: 60%;
        height: 20px;
        line-height: 20px;
    }
}

@media(max-width:586px){
    .bd-grey{
        min-height: 320px;
    }
    .mobile-cul{
        flex-direction: column;
        align-items: baseline;
    }
    .cash-select select{
        font-size: .75em;
    }
    .cash-title{
        font-size: 1.2em;
    }
    .cash-more a{
        padding: .25em .5em;
        font-size: .75em;
    }
    .login-content{
        display: none;
    }
    .pr-table table{
        font-size: .6875em;
    }
    .pr-table img{
        width: 2em;
    }
    .ad-day, .ad-click-mile{
        display: none;
    }
    .pr-table tr > th:not(:nth-child(1)){
        text-align: center; 
    }
    .pr-table tbody td:not(:nth-child(1)){
        text-align: center;
    }
    
    .ad-table tr > th:not(:nth-child(1)){
        text-align: center;
    }
    
    .ad-table tbody td:not(:nth-child(1)){
        text-align: center;
    }
    .umail{
        display: none;
    }

    
    .pr-table td, .ad-table td{
        font-size: .6em;
    }

    .ad-app-table table{
        font-size: .6em;
        letter-spacing: -1px;
    }
    .dnone-586{
        display: none;
    }
    .ad-app a{
        font-size: .8125em;
    }

    .ad-app-table{
        padding: 1.8em 0;
    }
    .ad-app-table table tr{
        height: 4em;
    }
    
    /* 페이지 상단 헤더 수정 */
    .logo img{
        width: 65%;
    }
    .slde-nav li{
        padding: .4em;
    }
    /* margin bottom 24 --> 16 */
    .mgb--24{
        margin-bottom: 1em;
    }
    /* 컨텐츠 영역 */
    .content{
        padding: 1em 0;
    }
}

@media(max-width:400px){
    .dnone-400{
        display: none;
    }
}
@media(max-width:360px){
    .dnone-360{
        display: none;
    }
}

@media(max-width: 280px){
    .cul--w280{
        flex-direction: column;
        align-items: baseline;
    }
    .cul--w280c{
        flex-direction: column;
    }
    header{
        height: 3em;
    }
    .slde-nav.pd-b2{
        padding-bottom: 0 !important;
    }
    .logout{
        position: absolute;
        right: 8px;
        top: 15px;
    }
    .ad-list p, .pr-list p, .pr-list a{
        font-size: .6em;
    }
}
