@font-face {
    font-family: 'TmoneyRoundB';
    font-weight: 700;
    font-style: normal;
    src: url('../css/fonts/TmoneyRoundWindExtraBold.eot');
    src: url('../css/fonts/TmoneyRoundWindExtraBold.ttf') format('truetype'), 
         url('../css/fonts/TmoneyRoundWindExtraBold.otf'),
         url('../css/fonts/TmoneyRoundWindExtraBold.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/TmoneyRoundWindExtraBold.woff') format('woff'),
         url('../css/fonts/TmoneyRoundWindExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: 'TmoneyRoundR';
    font-weight: 500;
    font-style: normal;
    src: url('../css/fonts/TmoneyRoundWindRegular.eot');
    src: url('../css/fonts/TmoneyRoundWindRegular.ttf') format('truetype'),
         url('../css/fonts/TmoneyRoundWindRegular.otf'),
         url('../css/fonts/TmoneyRoundWindRegular.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/TmoneyRoundWindRegular.woff') format('woff'),
         url('../css/fonts/TmoneyRoundWindRegular.woff2') format('woff2');

}

*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: 'TmoneyRoundR';
    font-weight: 500;
}

a{
    text-decoration: none !important;
}

li{
    list-style: none;
}

p, h1, h2, h3{
    margin-bottom: 0;
    color: #2e2e2e;
}

.mg-b2{
    margin-bottom: 2em;
}
.pd-b2{
    padding-bottom: 2em !important;
}
.pd-b3{
    padding-bottom: 3em;
}

.mg-l2p{
    margin-left: .75em;
}
header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.nav{
    display: flex;
}
.logo{
    padding: 0 20px;
}

.login-content{
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.login-text{
    color:#ccc;
}
.name{
    color:#000;
    font-weight: 800;
}
.logo-bg{
    background: #ccc;
}
.icon{
    background: url(../img/icon/login_grey.png)#F6F6F6;
    background-repeat: no-repeat;
    background-size: 1.5em;
    background-position: center center;
    width: 39px;
    height: 39px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.login-text{
    display: flex;
    height: 50px;
    align-items: center;
}

/* header  nav */

.layout{
    display: flex;
}

.slde-nav{
    width: 10%;
    height: auto;
    padding: 0 .85em;
    /* height auto 로 무조건 변경 */
}
.content{
    width: 90%;
    height: auto;
    border-radius: 50px 0px 0px 0px;
    background: #F6F6F6;
    /* 눈아파서 어둡게변경 추후에 f6f6f6로 변경 */
    padding-top: 5em;
}
.text-center{
    text-align: center;
}

/* 왼쪽 네비 영역 */
.slde-nav{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.slde-nav li{
    padding: .85em;
    border-radius: 10px;
}
.slde-nav li.active{
    background: #2E2E2E;
}
.slde-nav li.active a{
    color: #fff;
}
.slde-nav > ul > li > a{
    display: flex;
    align-items: center;
    color: #878787;
}

.slde-nav span{
    font-size: .9375em;
}

.icon-box{
    width: 25px;
    height: 25px;
    margin-right: 1em;
}

.logout a{
    display: flex;
    align-items: center;
    color: #878787;
}
.logout span{
    font-size: .95em;
}

.icon-box.home{
    background: url(../img/icon/home.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.icon-box.info{
    background: url(../img/icon/login_grey.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.icon-box.pr{
    background: url(../img/icon/product_grey.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.icon-box.ad{
    background: url(../img/icon/ad_grey.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.icon-box.lg-out{
    background: url(../img/icon/logout.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.icon-box.menu{
    background: url(../img/icon/menu_grey.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.flex-side{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-box{
    display: flex;
    align-items: center;
}

/* 우측 섹션 */
.bd-grey{
    max-width: 49%;
    min-height: 424px;
    border: 1px solid #EBEBEB;
    padding: 1.5em;
    border-radius: 10px;
    background: #FFFFFF;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1350px !important;
}
#prChart{
    height: 243px !important;
}
#adChart{
    height: 245px !important;
}

/* 공모양 생성 */
.circle{
    width: 11px;
    height: 11px;
    background: #ff8200;
    border-radius: 50px;
}
.circle.blue{
    background: #4C9EFF;
}

/* 상품페이지 영역 */
.cash-title{
    font-weight: 700;
    font-size: 1.4375em;
    margin-right: .73915em;
    font-family: 'TmoneyRoundB';
}
.circle-sub p{
    color: #878787;
    font-size: .75em;
    margin-left: 5px;
}
.cash-sub p {
    margin-top: 10px;
    margin-bottom: 3em;
    color: #878787;
    font-size: .9375em;
}
.cash-select select{
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    color: #878787;
    font-size: .95em;
    padding: .3em .5em;
}

/* 상품 리스트 영역 */
ul{
    margin: 0;
}

.pr-table > table{
    width: 100%;
}
.pr-table tr{
    height: 2.5em;
}
.pr-table th{
    border-bottom: 1px solid #ebebeb;
    color: #878787;
    font-size: .75em;
}
.pr-table td{
    color: #2E2E2E;
    font-size: .75em;
    font-weight: 600;
}

.pr-table .text-center{
    text-align: center;
}
.pr-table .pr-view{
    text-align: center;
}
.pr-table .pr-view a{
    border: 1px solid #EBEBEB;
    color: #878787;
    border-radius: 5px;
    font-size: 0.6875em;
    padding: .5em;
}
.pr-table .pr-day{
    text-align: center;
}

/* 광고리스트 영역 */
.cash-more a{
    padding: .5em 1em;
    background: #EBEBEB;
    border-radius: 5px;
    font-size: .95em;
    color: #878787;
}

.ad-list-title p{
    font-size: .75em;
    color: #878787;
}
.ad-list p{
    font-size: .75em;
    color: #2e2e2e;
}

.ad-table table{
    width: 100%;
}
.ad-table tr{
    height: 2.5em;
}
.ad-table th{
    border-bottom: 1px solid #ebebeb;
    color: #878787;
    font-size: .75em;
}
.ad-table td{
    color: #2E2E2E;
    font-size: .75em;
    font-weight: 600;
}
.ad-table .text-center{
    text-align: center;
}
.ad-table .circle{
    margin: 0 auto;
}

/* 광고 리스트 페이지 */


.ad-app-wrap{
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    padding: 1.8em 3em;
    background: #ffffff;
}
.aa-num{
    width: 7%;
    text-align: center;
}
.aa-num p{
    color: #878787;
}
.aa-name, .aa-mile, .aa-click{
    width: 21%;
}
.aa-day, .aa-type, .aa-stat, .aa-click-count{
    width: 11%;
}
.aa-day{
    text-align: center;
}
.aa-view{
    width: 12%;
}
.ad-app-list-title p{
    color: #878787;
    font-size: .9375em;
}
.ad-app-list li{
    height: 3em;
}

.ad-app-list li p{
    font-size: .9375em;
}


@media(max-width:1495px){
    .slde-nav span{
        display: none;
    }
    .icon-box{
        margin-right: 0;
    }
}

@media(min-width:1615px){
    .content .container.wd-1400{
        width: 1400px;
        max-width: 1400px;
    }
}


@media(max-width:1130px){
    .content .row{
        flex-direction: column;
    }
    .mobile-m2{
        margin-bottom: 2em;
    }
    .mobile-pd2{
        padding-top: 2em;
    }
    .content .col-md-6{
        width: 95%;
        max-width: 95%;
    }
}

@media(max-width: 768px){
    .layout{
        flex-wrap: wrap;
    }
    .slde-nav{
        width: 100%;   
    }
    .slde-nav{
        flex-direction: row;
        align-items: center;
    }
    .slde-nav > ul{
        display: flex;
    }
    .slde-nav span{
        display: none;
    }
    .content{
        width: 100%;
        border-radius: 0px;
    }
    .col-md-6{
        width: 100%;
        max-width: 100%;
    }

}

@media(max-width:586px){
    .bd-grey{
        min-height: 320px;
    }
    .mobile-cul{
        flex-direction: column;
        align-items: baseline;
    }
    .cash-select select{
        font-size: .75em;
    }
    .cash-title{
        font-size: 1.2em;
    }
    .cash-more a{
        padding: .25em .5em;
        font-size: .75em;
    }
    .login-content{
        display: none;
    }
    .pr-table table{
        font-size: .6875em;
    }
    .pr-table img{
        width: 2em;
    }
    .ad-day, .ad-click-mile{
        display: none;
    }
    .pr-table tr > th:not(:nth-child(1)){
        text-align: center; 
    }
    .pr-table tbody td:not(:nth-child(1)){
        text-align: center;
    }
    
    .ad-table tr > th:not(:nth-child(1)){
        text-align: center;
    }
    
    .ad-table tbody td:not(:nth-child(1)){
        text-align: center;
    }
}

@media(max-width: 280px){
    .cul--w280{
        flex-direction: column;
        align-items: baseline;
    }
    .cul--w280c{
        flex-direction: column;
    }
    header{
        height: 3em;
    }
    .slde-nav.pd-b2{
        padding-bottom: 0 !important;
    }
    .logout{
        position: absolute;
        right: 8px;
        top: 15px;
    }
    .ad-list p, .pr-list p, .pr-list a{
        font-size: .6em;
    }
}
